.button-3d {
  position: relative;
  perspective: 2000px;
}

.button-3d::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.25rem;
  transform: translateZ(-50px);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

.button-3d:hover::before {
  opacity: 1;
  transform: translateZ(-10px);
}
