header {
  box-shadow: 0 10px 10px -1px rgba(30, 58, 138, 0.5);
}

.button-3d {
  position: relative;
}

.button-3d::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.25rem;
  transform: translateZ(-50px);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

.button-3d:hover::before {
  opacity: 1;
  transform: translateZ(-10px);
}

.button-3d::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: blue;
  transition: width 0.3s, opacity 0.3s, transform 0.3s;
  opacity: 0;
}

.button-3d:hover::after {
  width: 100%;
  opacity: 1;
  transform: translateX(-50%);
}

@keyframes bounce-letter {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.25em);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-bounce-letter {
  display: inline-block;
  animation: bounce-letter 1.5s infinite;
}
