.forecast-slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  position: relative;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #ffffff;
  border: none;
  cursor: pointer;
}

.left-button {
  left: 10px;
}

.right-button {
  right: 10px;
}

.forecast-slider {
  width: 100%;
  max-width: 600px;
  padding: 1rem;
  position: relative;
}

.forecast-slider::-webkit-scrollbar { /* Pour Chrome, Safari et Opera */
  width: 12px;
}

.forecast-slider::-webkit-scrollbar-track { /* Pour Chrome, Safari et Opera */
  background: #f5f5f5;
}

.forecast-slider::-webkit-scrollbar-thumb { /* Pour Chrome, Safari et Opera */
  background-color: #888;
  border-radius: 20px;
}

.forecast-item {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.forecast-item[ng-reflect-ng-switch-case] {
  display: block;
}
