<div class="my-4">
  <form ngForm class="flex">
    <button (click)="getLocation()"
      type="button"
      class="bg-blue-700 rounded-l-lg text-2xl text-white px-3 py-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
      </svg>
    </button>
    <input type="text"
           name="city"
           placeholder="Ville"
           [(ngModel)]="city"
           (input)="onInput()"
           class="border border-gray-600 text-2xl flex-grow px-4 text-black">
    <button
      (click)="searchCity()"
      type="submit"
      class="bg-blue-700 rounded-r-lg text-2xl text-white px-3 py-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
      </svg>
    </button>
  </form>
  <div *ngIf="errorMessage" class="error-message text-red-900 text-center font-bold">{{ errorMessage }}</div>
</div>
