/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Thème sombre */
.dark-theme {
  background-color: #1f1f1f;
  color: #ffffff;
}

/* Thème clair */
.light-theme {
  background-color: #ffffff;
  color: #000000;
}
